.page-body {
    height: 100%;
    position: relative;
  
    display: flex;
    flex-direction: column;
  
    font-family: "OpenSans", "Arial", sans-serif;
    font-weight: 400;
    font-size: 20px;
  
    background-color: #ffffff;
    color: $color-text;
  }